{
    auto_https off
    log

    # Debug
    {$DEBUG}
}

:80 {
    handle {
        root * /srv/app/public
        push
        php_fastcgi unix//var/run/php/php-fpm.sock
        encode zstd gzip
        file_server
    }

    handle {
		# Fallback for any otherwise unhandled requests, maybe a 404 if you want
		respond "Nope!" 404
	}

}
