@import "variables";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  background-color: $grey-lightest;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h3, h4 {
  margin: 0 0 .5rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}


.trix-button-group--file-tools { display: none !important; }

.icon {
  margin: 0 .25rem;
  svg {
    fill: $grey-dark;
    height: 16px;
  }
}

.navbar {
  background-color: $green-dark;
  color: white;

  .navbar-brand {
    font-size: 16pt;
    margin-left: 3rem;
    a:hover {
      color: white;
    }
  }

  .navbar-item {
    color: white;

    .icon {
      margin: 0 .25rem;
      svg {
        fill: white;
      }
    }

    &:hover {
      .icon svg {
        fill: $grey-dark;
      }
    }
  }


}

.content {
  padding: .5rem;
  max-width: 1200px;
  min-height: calc(100vh - 6rem);
  background-color: white;
  margin: 3rem auto 0 auto;
}
