{% extends 'base.html.twig' %}

{% block body %}
    <div class="login">
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form" action="{{ path('app_login') }}" method="post">

            <div class="field">
                <label class="label">Benutzername:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Benutzername" id="username" name="_username" value="{{ last_username }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Passwort:</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Passwort" id="password" name="_password">
                </div>
            </div>

            <div class="text-right">
                <button class="button is-primary" type="submit">Login</button>
            </div>

        </form>
    </div>
{% endblock %}